<div class="bg-color-secondary about-us pb-md-5">
    <div class="container">
        <div class="row">
            <h2 class="col-12 text-center">Data Portal S7iFish</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center"><h3><i class="fas fa-check-circle d-block help-footer-class mb-3"></i>250 specimen records</h3></div>
            <div class="col-lg-3 text-center"><h3><i class="fas fa-check-circle d-block help-footer-class mb-3"></i>250 species records</h3></div>
            <div class="col-lg-3 text-center"><h3><i class="fas fa-check-circle d-block help-footer-class mb-3"></i>250 hybrid records</h3></div>
            <div class="col-lg-3 text-center"><h3><i class="fas fa-check-circle d-block help-footer-class mb-3"></i>Last record added 2 weeks ago</h3></div>
        </div>
    </div>
</div>