<footer class="bg-dark text-white">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-12 d-flex">
                <span>
                    <a href="index.php" class="mr-3">S7iFish</a>
                    <a href="application-info.php" class="mr-3">Application info</a>
                    <a href="help.php" class="mr-3">Help</a>
                    <a href="citation.php" class="mr-3">Citation</a>
                    <a href="contact.php" class="mr-3">Contact</a>
                </span>
                <span class="ml-auto">
                    © 2019 Czech Academy of Sciences, S7iFish Database created by <a href="#">Liquid Design</a>
                </span>
            </div>
        </div>
    </div>
</footer>