<nav class="navbar navbar-expand-lg navbar-light bg-color-primary cc-menu">
    <div class="container">
        <a class="navbar-brand" href="index.php">S7iFish</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="application-info.php">Application info <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help.php">Help</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control rounded-left" type="search" placeholder="Search (Eg. Carassius auratus)" aria-label="Search">
                <button class="btn my-2 my-sm-0 rounded-right" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-sm-0 ml-lg-2">
                <li class="nav-item">
                    <a class="nav-link" href="new-record-step-1.php">
                        <button class="btn button-primary-color" type="button">
                            <i class="fas fa-plus"></i> Add record
                        </button>
                    </a>
                </li>
                <li class="nav-item dropdown d-flex align-items-stretch">
                    <a class="nav-link dropdown-toggle align-middle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Profil
                    </a>
                    <div class="dropdown-menu bg-color-primary" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="account.php"><i class="fas fa-cog"></i> Account</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>