<nav class="navbar navbar-expand-lg navbar-light bg-color-primary cc-menu background-gradient">
    <div class="container pl-sm-3 pr-sm-3">
        <a class="navbar-brand" href="index.php">S7iFish</a>
        <button class="navbar-toggler border-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="application-info.php">Application info <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help.php">Help</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control rounded-left" type="search" placeholder="Search (Eg. Carassius auratus)" aria-label="Search">
                <button class="btn my-2 my-sm-0 rounded-right" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="login.php">
                        <i class="fas fa-user"></i>
                        Login
                    </a>
                </li>

                <li class="nav-item d-none d-lg-flex">
                    <span class="nav-link px-0">/</span>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="registration.php">
                        Registration
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>