<div>
    <div class="container">
        <p>navigacia podstranky</p>
        <ul>
            <li><a href="index.php">1.0 Intro page</a></li>
            <li><a href="search-result.php">2.0 Search result</a></li>
            <li><a href="search-result-2.php">2.1 Search result with main code</a></li>
            <li><a href="record-detail.php">3.0 Record detail</a></li>
            <li><a href="new-record-step-1.php">4.0 New record</a></li>
            <li><a href="new-record-step-2.php">4.1 step 2</a></li>
            <li><a href="new-location.php">5.0 New location</a></li>
            <li><a href="registration.php">6.0 Registration</a></li>
            <li><a href="login.php">6.1 Login</a></li>
            <li><a href="account.php">6.2 User account</a></li>
            <li><a href="application-info.php">7.1 Application info</a></li>
            <li><a href="help.php">7.2 Help</a></li>
            <li><a href="citation.php">7.3 Citation</a></li>
            <li><a href="contact.php">7.4 Contact</a></li>
        </ul>
    </div>
</div>