<h2>
    Search and filter
</h2>

<form class="bg-white bg-shadow rounded p-2 p-lg-5 mb-3">
    <div class="form-row">
        <div class="form-group col-md-6 pr-md-3">
            <label for="exampleInputEmail1" class="custom-label-margin">
                Search Taxon, Genus or
                <i data-toggle="tooltip" data-placement="top" title="5 digit number, eg. 15421"><u>Voucher ID <i class="fas fa-info-circle"></i></u></i>
            </label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Eg. Carassius auratus">
        </div>
        <div class="form-group col-md-6 pl-md-3">
            <label for="exampleFormControlSelect1" class="custom-label-margin">Country</label>
            <select class="form-control selectpicker custom-select custom-select-lg" id="exampleFormControlSelect1" data-live-search="true" title="Select one or more country" multiple>
                <option data-tokens="česko česká cesko">Czech republic</option>
                <option data-tokens="Slovensko slovensko">Slovakia</option>
                <option data-tokens="Nemecko">Germany</option>
            </select>
        </div>
    </div>

    <div class="form-row mb-3 specifick-position">
        <div class="col-md-6 pr-md-3">
            <label for="exampleFormControlSelect1" class="custom-label-margin">Specific location (select River or Company)</label>
            <div class="input-group border p-2 rounded custom-specific-position">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-transparent border-0">
                        <input type="radio" aria-label="Radio button for" id="defaultCheck1" name="specifick-position" class="">
                        <label class="form-check-label pl-2 pr-2" for="defaultCheck1">Main River Basin</label>
                    </div>
                </div>
                <select class="form-control selectpicker custom-select custom-select-lg rounded custom-specific-selectbox" id="exampleFormControlSelect1" data-live-search="true" title="Select Main River Basin" multiple>
                    <option value="1" data-tokens="Dunaj Dounau Donava">Danube</option>
                    <option value="2" data-tokens="Moldau">Vltava</option>
                    <option value="3" data-tokens="March Morva Morawa">Morava</option>
                </select>
            </div>
        </div>

        <div class="text-center col-12 help-mobie-class">or</div>

        <div class="col-md-6 pl-md-3">
            <label for="exampleFormControlSelect1" class="custom-label-margin help-mobie-class"> &nbsp; </label>
            <div class="input-group border p-2 rounded custom-specific-position custom-specific-selectbox">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-transparent border-0">
                        <input type="radio" aria-label="Radio button" id="defaultCheck2" name="specifick-position" class="">
                        <label class="form-check-label pl-2 pr-2" for="defaultCheck2">Company</label>
                    </div>
                </div>
                <select class="form-control selectpicker custom-select custom-select-lg rounded custom-specific-selectbox" id="exampleFormControlSelect1" data-live-search="true" title="Select Company name" multiple>
                    <option value="1" data-tokens="Company 1">Company one a.s. (Berlin, GER)</option>
                    <option value="2">Company two a.s. (Brno, CZ)</option>
                    <option value="3">Company s.r.o (Berlin, GER)</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
            <li class="nav-item col-md-4 p-0 text-center">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All databases search without sequence </a>
            </li>
            <li class="nav-item col-md-4 p-0 text-center">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">SNP database search with sequence</a>
            </li>
            <li class="nav-item col-md-4 p-0 text-center">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Indel database search with hybrid barcode</a>
            </li>
        </ul>
        <div class="tab-content mb-3" id="myTabContent">
            <div class="tab-pane fade show active border-bottom border-left border-right rounded-bottom" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-row">
                    <div class="form-group p-3">
                        <legend class="col-form-label">Type specimen collection</legend>
                        <div class="form-check form-check-inline border rounded pl-3 mr-1 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                            <label class="form-check-label pt-2 pb-2 pr-3" for="inlineRadio1">All</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-1 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="inlineRadio2">Standard</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-1 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="inlineRadio3">Homozygote</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-1 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="inlineRadio4">Heterozygote</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="inlineRadio5">Hybrid</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade border-bottom border-left border-right rounded-bottom" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="form-row">
                    <div class="form-group p-3">
                        <legend class="col-form-label">
                            <i data-toggle="tooltip" data-placement="top" title="S-Heterozygote  - Sequence contains only substitutions"><u>Type specimen collection <i class="fas fa-info-circle"></i></u></i>
                        </legend>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadio" id="Radio101" value="option1" checked>
                            <label class="form-check-label pt-2 pb-2 pr-3" for="Radio101">All</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadio" id="Radio2" value="option2">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="Radio2">Standard</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadio" id="Radio3" value="option3">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="Radio3">Homozygote</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadio" id="Radio4" value="option4">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="Radio4">S-Heterozygote</label>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group pl-3 col-md-6">
                        <label for="exampleFormControlTextarea1">
                            <i data-toggle="tooltip" data-placement="top" title="Fasta format starts with “>”"><u>Enter sequences in Fasta format <i class="fas fa-info-circle"></i></u></i>
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade border-bottom border-left border-right rounded-bottom" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="form-row">
                    <div class="form-group p-3">
                        <legend class="col-form-label">
                            <i data-toggle="tooltip" data-placement="top" title="I-Heterozygote - Sequence contains also deletion or insertion (indel); &nbsp; Hybrid – Interspecific, intergeneric, etc."><u>Type specimen collection <i class="fas fa-info-circle"></i></u></i>
                        </legend>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadio-hybrid-barcode" id="Radio-1" value="option1" checked>
                            <label class="form-check-label pt-2 pb-2 pr-3" for="Radio-1">All</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadio-hybrid-barcode" id="Radio-2" value="option2">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="Radio-2">I-Heterozygote</label>
                        </div>
                        <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                            <input class="form-check-input" type="radio" name="inlineRadio-hybrid-barcode" id="Radio-3" value="option3">
                            <label class="form-check-label pt-2 pb-2 pr-3" for="Radio-3">Hybrid</label>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group pl-3 pt-3 col-md-6">
                        <label for="exampleFormControlTextarea1">
                            <i data-toggle="tooltip" data-placement="top" title="Fasta format starts with “>”"><u>Enter sequences in Fasta format <i class="fas fa-info-circle"></i></u></i>
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <legend class="col-form-label">Nuclear diagnostics</legend>
            <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="B-inlineRadio1" value="option1">
                <label class="form-check-label pt-2 pb-2 pr-3" for="B-inlineRadio1">All</label>
            </div>
            <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="B-inlineRadio2" value="option2">
                <label class="form-check-label pt-2 pb-2 pr-3" for="B-inlineRadio2">Indel</label>
            </div>
            <div class="form-check form-check-inline border rounded pl-3 mr-0 mb-1 custom-radio-button">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="B-inlineRadio3" value="option3">
                <label class="form-check-label pt-2 pb-2 pr-3" for="B-inlineRadio3">Substitution</label>
            </div>
        </div>

        <div class="form-group col-md-6 d-flex justify-content-end">
            <button type="submit" class="btn button-secondary-color btn-lg col-md-4 mt-auto">Search</button>
        </div>
    </div>
</form>








