html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 28px;
    scroll-behavior: smooth;
}

a, a:hover {
    color: #fd6cab;
}

b, strong {
    font-weight: 700;
}

/* Create headings with margins and some rules */
h1 {
    font-weight: 900;
    line-height: 56px;
    margin: 1.5rem 0 1rem;
}

h2 {
    font-weight: 900;
    line-height: 56px;
    margin: 1.5rem 0 1rem;
}

h3 {
    font-weight: 900;
    line-height: 56px;
    margin: 1.5rem 0 1rem;
}

h4 {
    font-weight: 900;
    line-height: 56px;
    margin: 1.5rem 0 1rem;
}

h5 {
    font-weight: 900;
    line-height: 56px;
    margin: 1.5rem 0 1rem;
}

h6 {
    font-weight: 900;
    line-height: 56px;
    margin: 1.5rem 0 1rem;
}

h1 {
    font-size: 2.2222rem;
}

h2 {
    font-size: 1.6666rem;
}

h3 {
    font-size: 1.3333rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .8888rem;
}

h6 {
    font-size: .7777rem;
}

p {
    margin: 1.5rem 0;
}

p.perex {
    font-weight: 300;
}

label {
    font-weight: 500;
    cursor: pointer;
}
